DATA STRUCTURE

1.What are data structures, and why are they important?
 - Data structure is a way of organizing and storing the data it is importanat to accesed and manipulate the data.

2.Explain the difference between mutable and immutable data types with examples.
 - Mutable means we can change the elements after they declared. Mutable data types are list,sets,dictionary
 immutable means that we cannot change the elements after they declared. Immutable data types are string.

3.What are the main differences between lists and tuples in Python?
 - The main difference between the list and tuples are list is mutable and it is define between the square brakets and tuples are immutable and it is define between the paranthesis.

4.Describe how dictionaries store data.
 - Dictionaries store the data in the form of key value pair.

5.Why might you use a set instead of a list in Python?
 - We use set instead of a list in python because set are unordered collection of unique elements means there is no repeated elements occured in sets.

6.What is a string in Python, and how is it different from a list?
 - String is a collection of characters and it is diffrent from list by it stores only homogenous data.

7.How do tuples ensure data integrity in Python?
 - Tuples ensure data integrity in python due to their immutibility nature.

8.What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table allows for very fast lookup,insertion and deletion of data.
 hash table provides insights into how python dictionaries work and why they are so useful for task involving key value lookups.

9. Can lists contain different data types in Python?
 - Yes lists can contain different data types in Python.

10.Explain why strings are immutable in Python.
 - String is a sequence of characters which represent and manipulate textual data. Strings are immutable because to make data constant.

11.What advantages do dictionaries offer over lists for certain tasks?
 - Advantages do dictionaries offer over lists for certain tasks are dictinaries offers fast lookup, flexible data storage, easy modification.

12.Describe a scenario where using a tuple would be preferable over a list.
 - while representing any date we use tuple istead of list because tuples are immutable and we cannot change the elemnts after declaration.

13.How do sets handle duplicate values in Python?
 - Sets inherently handle duplicate values by eliminating them.It takes only unique elements.

14.How does the “in” keyword work differently for lists and dictionaries?
 - In lists in keyword checks for membership of an element within the list and for dictionaries it checks for the existence of a specific kry in the dictionary.

15.Can you modify the elements of a tuple? Explain why or why not.
 - We cannot modify the elements of a tuple after declaration because tuples the immutable we cannot change the elements.

16.What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary where the values themselves are also dictionaries. The example of its use case are representing employee data.

17.Describe the time complexity of accessing elements in a dictionary.
 - The time complexity of accessing elements in a python dictionary is generally 0(1),which means its constant time.

18.In what situations are lists preferred over dictionaries?
 - The situations where lists preferred over dictionaries are maintaining the order,accessing elements by index, storing homogeneous data.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because the order of elements within a dictionary is not guaranteed to be consistent.
 It affects the data retrieval by unpredictable iteration and inefficient for order dependent operations.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - The elements in a list are accessed using their index and in dictionary are accessed using their unique keys.

In [1]:
#1.Write a code to create a string with your name and print it
A = "my name is Tanmay"
A

'my name is Tanmay'

In [2]:
#2.Write a code to find the length of the string "Hello World".
b = "Hello World"
len(b)

11

In [4]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
string[0:3]

'Pyt'

In [6]:
#4.Write a code to convert the string "hello" to uppercase
a = "hello"
a.upper()

'HELLO'

In [7]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = "I like apple"
a.replace("apple","orange")

'I like orange'

In [8]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
num = [1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [10]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
a = [1,2,3,4]
a.append(10)
a

[1, 2, 3, 4, 10]

In [11]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a = [1,2,3,4,5]
a.remove(3)
a

[1, 2, 4, 5]

In [12]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a','b','c','d']
list[1]

'b'

In [14]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
a = [10,20,30,40,50]
a.reverse()
a

[50, 40, 30, 20, 10]

In [15]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
t = (10,20,30)
t

(10, 20, 30)

In [16]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruit = ('apple','banana','cherry')
fruit[0]

'apple'

In [17]:
#13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1,2,3,2,4,2)
len(tuple)

6

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
y = ('dog','cat','rabbit')
y.index('cat')

1

In [20]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple','orange','banana')
if 'banana' in tuple:
  print("yes present")

yes present

In [21]:
#16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [23]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
a = {1,2,3,4}
a.add(6)
a

{1, 2, 3, 4, 6}

In [24]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10,20,30)
tuple

(10, 20, 30)

In [25]:
#19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
a = ('apple','banana','cherry')
a[0]

'apple'

In [26]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1,2,3,2,4,2)
tuple.count(2)

3

In [27]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
y = ('dog','cat','rabbit')
y.index('cat')

1

In [28]:
#22.. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple','orange','banana')
if 'banana' in tuple:
  print("yes present")

yes present

In [29]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [31]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
a = {1,2,3,4}
a.add(6)
a

{1, 2, 3, 4, 6}